    <div *ngFor="let feed of mFeeds.slice().reverse(); let index = index">
            <mat-card class="feed-card slow-feed" >
            <mat-card-header>
                <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/empty.png)'}" class="feed-header-image"></div>
                <mat-card-title class="title">{{feed.author}}</mat-card-title>
                <mat-card-subtitle>{{feed.created}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                {{feed.content}}
                </p>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button mat-button color="primary" [disabled]="!canLike(feed)" (click)="addLike(feed)">
                    <mat-icon>thumb_up_alt</mat-icon> 
                    <span *ngIf="feed.likesAuthors; else elseBlockLikes">
                        {{feed.likesAuthors.length}} Likes</span>
                    <ng-template #elseBlockLikes> 0 Likes</ng-template></button>
                <button mat-button color="primary" (click)="toggle(feed)">
                    <mat-icon>comment</mat-icon> 
                    <span *ngIf="feed.comments; else elseBlockComments"> 
                        {{feed.comments.length}} Comments</span> 
                    <ng-template #elseBlockComments> 0 Comments</ng-template></button>
            </mat-card-actions>
            </mat-card>
        <div class="comment-section">
            <mat-list dense *ngIf="feed.show">
                <mat-list-item *ngFor="let comment of feed.comments" class="comment-item">
                    <mat-icon matListIcon>comments</mat-icon>
                    <h3 matLine> <b>{{comment.commentAuthor}}</b> </h3>
                    <p matLine>
                        <span> {{comment.commentContent}}</span>
                    </p>
                </mat-list-item>
                <mat-list-item *ngIf="!feed.comments" class="comment-item">
                        <p matLine>
                            <span> No comments so far... be the first.</span>
                        </p>
                    </mat-list-item>
                <mat-form-field style="width:90%; margin-left:5%" *ngIf="currentUser">
                    <mat-label>Leave a comment</mat-label>
                    <input matInput [(ngModel)]="newComment[index]" placeholder="Press enter to send..." (keyup.enter)="saveComment(feed, index)">
                </mat-form-field>
            </mat-list>
        </div>
    </div>
    <mat-card class="feed-card slow-feed" *ngIf="mFeeds.length == 0">
            <mat-card-content>
                <p class="empty-feed">
                No news for now. Waiting for any thought to show up...
                </p>
            </mat-card-content>
    </mat-card>
